dist/
node_modules/
**/node_modules/
.dev.vars
.dev.vars.local
.env
.env.*
astro.config.ts.timestamp
.astro/
apps/*/.astro/
apps/*/dist/
apps/*/node_modules/
packages/*/dist/
packages/*/node_modules/
package-lock.json
apps/*/package-lock.json
packages/*/package-lock.json
pnpm-lock.yaml
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/
.pnpm-store/
.wrangler/
.turbo/
