---
import "./AdSlot.css";

const { clientId = "YOUR_ID" } = Astro.props as { clientId?: string };
---
<div class="ad-slot" data-ads="1" data-client={clientId}></div>
<script type="module" src={Astro.resolve("./ad-slot.client.ts")}></script>
