name = "goldshore-api"
main = "dist/index.js"
compatibility_date = "2024-11-20"
minify = true

[build]
command = "npm run -w @goldshore/api-worker build"

[observability]
enabled = true

[triggers]
crons = ["*/30 * * * *"]
