name = "goldshore-api"
main = "src/index.ts"
compatibility_date = "2024-11-20"
minify = true

[observability]
enabled = true

[triggers]
crons = ["*/30 * * * *"]

[[routes]]
pattern = "api.goldshore.org/*"
zone_name = "goldshore.org"
